@font-face {
  font-family: "PT Serif";
<<<<<<< HEAD
  src: url("..src/assets/fonts/PTSerif-Regular.ttf");
=======
  src: url("../../../src/assets/fonts/PTSerif-Regular.ttf");
>>>>>>> About
}

@font-face {
  font-family: "Work Sans";
<<<<<<< HEAD
  src: url("..src/assets/fonts/WorkSans-Regular.ttf");
=======
  src: url("../../../src/assets/fonts/WorkSans-Regular.ttf");
>>>>>>> About
}

@font-face {
  font-family: "Rufina Bold";
<<<<<<< HEAD
  src: url("..src/assets/fonts/Rufina-Bold.ttf");
}
=======
  src: url("../../../src/assets/fonts/Rufina-Bold.ttf");
}
>>>>>>> About
