@font-face {
  font-family: 'PT Serif';
  src: url('..public/fonts/PTSerif-Regular.ttf');
}

@font-face {
  font-family: 'Work Sans';
  src: url('..public/fonts/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'Rufina Bold';
  src: url('..public/fonts/Rufina-Bold.ttf');
}