@import "../sass/variables";

.landing-container {
  background-color: $color-green;
  color: $color-primary;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.landing-left,
.landing-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    width: auto;
  }
}
.landing-center {
  text-align: center;
  

  img {
    width: 5rem;
  }

  h1 {
    font-family: $font-welcomepage;
    font-weight: $font-weight-welcomepage;
    font-size: $font-size-xxxl;
    margin: 2rem 0;
  }

  p {
    font-size: $font-size-sm;
    letter-spacing: 4px;
  }
}


