@use "../sass/variables" as *;

.header-container {
    background-image: url('../../assets/svg/header_bg.svg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
  }

.bg-header {
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.buttons-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1; 
  padding: 1rem;
  margin-top: -2rem;
}

.nav-link, .cart-link {
  background: none;
  border: none;
}

.cart-link img {
  width: 48px;
}
