@use "../sass/variables" as *;
@use "../sass/fonts" as *;

body {
  font-family: $font-primary; // font de variables.scss
}

.nav {
  background-color: $color-brown; // Replacing var(--dark-brown) with SCSS variable
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 48px;
    padding: 0.5rem;
    cursor: pointer;
  }

  @media (max-width: 730px) {
    padding: 1rem;

    img {
      max-width: 40px;
      top: 12px;
      left: 12px;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  li {
    list-style: none;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 8px auto;
    }
  }

  a {
    color: $text-light; //la variable
    font-size: $font-size-xl;
    font-weight: $font-weight-primary;
    text-decoration: none;
  }

  @media (max-width: 730px) {
    gap: 1.5rem;

    a {
      font-size: $font-size-l; //TOUT PETITE
    }

    li::after {
      width: 30px;
    }
  }
}